
////////////////////////////////////////////////////////////////////////////////
// K

$color-accent: #0b9a9a
$color-accent2: #057d7d
$color-bg: #f7f7f7
$color-header-bg-left: $color-accent
$color-header-bg-right: $color-accent2
$color-sidebar-bg-active: #44444b
$color-sidebar-bg: #33333b
$color-sidebar-bg2: #2d2d31
$color-sidebar-bg3: #1c1c22
$color-splash: #085b5b
$color-heading: #000
$color-text: #333
$color-success: #4c4
$color-error: #c44
$color-xray: #444
$color-xray-selected: #2364cb

$header-height: 12rem
$header-overdraw: 20rem
$logo-size: 7.2em
$sidebar-padding: 2.5rem
$sidebar-width: 28rem
$main-padding: 4rem
$main-max-width: 65rem
$repl-left-gutter: 12rem

$font-title: 'malaga-narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif
$font-heading: malaga, 'Helvetica Neue', Helvetica, Arial, sans-serif
$font-body: ratio, 'Helvetica Neue', Helvetica, Arial, sans-serif
$font-monospace: menlo, monaco, inconsolata, consolas, monospace

$z-mobile-toc: 1
$z-toc-api-object: 1
$z-api-find: 2
$z-toc-toplevel-entry: 3
$z-header-base: 100
$z-header: 101
$z-repl: 150
$z-sheets: 199
$z-flyout: 200
$z-tooltip: 500
$z-xray: 1000
$z-xray-next: $z-xray + 1
$z-xray-selected: $z-xray + 2
$z-xray-stack: $z-xray + 3

$icon-add-circle: '\e90e'
$icon-add: '\e910'
$icon-arrow-right: '\e900'
$icon-bound: '\e912'
$icon-check: '\e913'
$icon-chevron-down: '\e90a'
$icon-chevron-right: '\e90b'
$icon-delete: '\e901'
$icon-close: '\e902'
$icon-close-small: '\e90c'
$icon-close-circle: '\e903'
$icon-console-add: '\e90d'
$icon-eye: '\e917'
$icon-pencil: '\e904'
$icon-load: '\e916'
$icon-replay-all: '\e905'
$icon-pin: '\e906'
$icon-play: '\e907'
$icon-revert: '\e908'
$icon-target: '\e914'
$icon-swap: '\e911'
$icon-window: '\e909'
$icon-window-up: '\e90f'

$subtle-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.12)

$ease-extreme-out: cubic-bezier(.05, .9, 0, 1)


////////////////////////////////////////////////////////////////////////////////
// UTIL

@mixin fill($buffer: 0)
  bottom: $buffer
  left: $buffer
  position: absolute
  right: $buffer
  top: $buffer

@mixin reify
  content: ''
  display: block


////////////////////////////////////////////////////////////////////////////////
// COMMON

@mixin custom-scrollbar($color-thumb: $color-accent, $color-gutter: rgba(0, 0, 10, 0.8))
  &::-webkit-scrollbar
    background: $color-gutter
    width: 0.9em

  &::-webkit-scrollbar-thumb
    background: $color-thumb

@mixin icon($which: null)
  @if $which
    content: $which
  font-family: 'icons' !important
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-style: normal
  font-variant: normal
  font-weight: normal
  line-height: 1
  speak: none
  text-transform: none

@mixin no-appearance
  background: none
  border: none
  margin: 0
  outline: none
  padding: 0


////////////////////////////////////////////////////////////////////////////////
// IMPORTS / EXTERNS

@import '../node_modules/codemirror/lib/codemirror'
@import '../node_modules/janus-inspect/lib/inspect'

@font-face
  font-family: 'icons';
  src: url('/assets/icons.eot?f')
  src: url('/assets/icons.eot?f#iefix') format('embedded-opentype'), url('/assets/icons.ttf?f') format('truetype'), url('/assets/icons.woff?f') format('woff'), url('/assets/icons.svg?f#icomoon') format('svg')
  font-weight: normal
  font-style: normal


////////////////////////////////////////////////////////////////////////////////
// RESET

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
  background: transparent
  border: 0
  margin: 0
  outline: 0
  padding: 0
  vertical-align: baseline

html
  color: $color-text
  font-family: $font-body
  font-size: 62.5%

body
  background-color: $color-sidebar-bg

ul, ol
  list-style-type: none


////////////////////////////////////////////////////////////////////////////////
// GLOBAL

.hide
  display: none !important


////////////////////////////////////////////////////////////////////////////////
// LAYOUT

////////////////////////////////////////
// LAYOUT: base

header
  color: #fff
  left: 0
  position: fixed
  top: 0
  right: 0
  z-index: $z-header-base

  &:before, &:after
    @include reify
    position: absolute
    transform: skewY(-3deg)
    transform-origin: left center

  &:before
    background: $color-header-bg-left
    box-shadow: 0 0 1.2em rgba(0, 0, 0, 0.8)
    left: 0
    height: $header-height + $header-overdraw + 2rem
    top: -1.3rem - $header-overdraw
    width: $sidebar-width
    z-index: $z-header

  &:after
    background: $color-header-bg-right
    height: $header-height + $header-overdraw
    left: $sidebar-width
    right: 0
    top: -$header-overdraw

  .header-left
    padding: 3em
    position: absolute
    z-index: $z-header

  .header-right
    left: $sidebar-width
    padding: $main-padding
    position: absolute
    z-index: $z-header

  #show-toc
    @include no-appearance
    cursor: pointer
    display: none
    position: absolute
    right: 3em
    top: 4.3em
    z-index: $z-header

    &:after
      $size: 0.4em
      @include reify
      border: $size solid transparent
        bottom: none
        top-color: #fff
      left: calc(100% + 0.5em)
      position: absolute
      top: calc(50% - #{$size / 2})
      transition: transform 0.2s

    .icon
      $height: 0.9em
      $width: 1.4em
      border-bottom: 2px solid #fff
      border-top: 2px solid #fff
      height: $height
      width: $width

      &:before
        @include reify
        border-bottom: 2px solid #fff
        height: calc(#{$height / 2} - 1px)
        width: $width

  #logo
    border: 3px solid rgba(255, 255, 255, 0.1)
    border-radius: 9999px
    float: left
    height: $logo-size
    margin-right: 1.5em
    margin-top: -0.7em
    width: $logo-size

    svg path
      fill: #fff

  h1
    float: left
    font-family: $font-title
    font-size: 4em
    font-weight: 400
    line-height: 1em

  a
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2)
    color: #fff
    text-decoration: none
    transition: 0.1s border-color

    &:hover
      border-bottom-color: #fff

  nav
    font-family: $font-title
    font-size: 2em

    a
      margin-right: 1em
      text-transform: lowercase

#left
  @include fill
  background: $color-sidebar-bg
  box-shadow: 0 -0.6em 0.6em rgba(0, 0, 0, 0.45)
  position: fixed
  right: auto
  width: $sidebar-width

  nav
    @include fill
    @include custom-scrollbar
    overflow-x: hidden
    overflow-y: auto
    top: $header-height - 1rem

    > .janus-list
      padding-top: $main-padding

  .toc-entry
    $vpadding: 0.8rem
    $indent: 1.5rem

    &.active
      > a, > a:hover
        background: $color-accent

    a
      border-bottom: 1px solid $color-sidebar-bg2
      color: #fff
      display: block
      font-family: $font-title
      font-size: 2.2rem
      padding: $vpadding $sidebar-padding
      text-decoration: none
      transition: 0.2s background

      &:hover
        background: $color-sidebar-bg-active
        transition: none

    > a
      // get the API Reference header to show over the 
      position: relative
      z-index: $z-toc-toplevel-entry

    .janus-list
      padding-bottom: 1.5rem

    .toc-entry
      a
        background: #2d2d31
        border-bottom-color: $color-sidebar-bg
        font-family: $font-body
        font-size: 1.5rem
        padding: $vpadding 1rem
          left: $sidebar-padding + $indent

        // TODO: these layered overrides are incredibly irritating.
        &:hover
          background: $color-sidebar-bg-active

      &.active
        a, a:hover
          background: $color-accent

      .toc-entry a
        padding-left: $sidebar-padding + ($indent * 2)

    .toc-children
      display: none
    &.prefix .toc-children
      display: block

  .api-browser
    background: $color-sidebar-bg3
    color: #fff

    .api-find
      $overdraw: 2rem
      background: $color-sidebar-bg
      border-bottom: 1px solid $color-accent2
      margin-top: -$overdraw
      padding-top: $overdraw
      position: sticky
      top: 0
      z-index: $z-api-find

      input
        @include no-appearance
        background: $color-sidebar-bg2
        color: #fff
        font-family: $font-body
        font-size: 1.3em
        padding: 0.8em 1em
          left: $sidebar-padding
        width: 100%

      button
        $offset: 0.6rem
        $size: 1.8em
        background: none
        border: none
        bottom: $offset
        color: #fff
        display: block
        font-size: 2em
        position: absolute
        right: $offset

    .api-sections
      padding-top: 1em

    .api-section
      .api-section-header
        @include no-appearance
        color: #fff
        padding: 0.9em 0 1rem $sidebar-padding
        position: relative
        text-align: left
        width: 100%

        &:before
          $tri-size: 0.4em
          content: ''
          border: $tri-size solid transparent
            bottom: none
            top-color: #fff
          left: 1em
          position: absolute
          top: 1.4em
          transform: rotate(-90deg)

        h2
          font-family: $font-heading
          font-size: 1.2em
          font-weight: bold

      .api-section-objects
        display: none

      &.expanded
        .api-section-header:before
          transform: rotate(0deg)
        .api-section-objects
          display: block

    .api-object
      .api-object-name
        background: $color-sidebar-bg3
        border-bottom: 0
        border-top: 3px solid $color-sidebar-bg
        box-shadow: 0 0.3rem 0 transparentize($color-sidebar-bg3, 0.6)
        font-family: $font-monospace
        font-size: 1.6em
        font-weight: normal
        padding-left: $sidebar-padding
        position: sticky
        top: 5.5rem
        z-index: $z-toc-api-object

        &:hover
          background: $color-sidebar-bg-active

      .janus-list
        padding-bottom: 0

      .api-object-sections
        display: none

      &.navigated .api-object-name
        background: $color-accent

      &.navigated, &.match
        .api-object-sections
          display: block

    .api-objsection
      padding-bottom: 0.8em

      .api-objsection-name
        border-bottom: none
        color: #aaa
        font-family: $font-body
        font-size: 1.2em
        padding: 0.5em 0 0.25em $sidebar-padding

        &:hover
          background: inherit
          text-decoration: underline

    .api-member
      position: relative

      .api-member-name
        font-family: $font-monospace
        font-size: 1.2em
        padding: 0.5em
          left: $sidebar-padding
      &:last-child .api-member-name
        border-bottom: none

      .api-member-return-type
        background: #111
        border-radius: 0.15em
        font-family: $font-monospace
        padding: 0.3em 0.4em 0.2em
        pointer-events: none
        position: absolute
        right: 0.8em
        top: 0.5em

    &.finding
      .api-object, .api-objsection, .api-member
        display: none
        &.match
          display: block

#main
  background: $color-bg
  margin-left: $sidebar-width
  min-height: calc(100vh - #{2 * $main-padding + $header-height})
  padding: $main-padding
    top: $header-height + $main-padding

#repl .repl
  display: none

#repl.activated
  $repl-width: 40vw
  $repl-full-width: 70vw

  .repl
    animation-duration: 0.3s
    animation-name: right-motion
    animation-timing-function: $ease-extreme-out
    animation-iteration-count: 1
    background: rgba(244, 244, 244, 0.98)
    bottom: 0
    box-shadow: inset 16.4rem 0 0 #eee, -5px 0 0 rgba(0, 0, 0, 0.45)
    display: block
    position: fixed
    right: -1 * $repl-width
    top: 0
    transition: width 0.2s $ease-extreme-out
    width: $repl-width
    z-index: $z-repl

    &.has-pins
      right: -1 * $repl-full-width
      width: $repl-full-width

  &.active .repl
    animation-name: left-motion
    right: 0


#flyouts .flyout
  max-width: 40vw
  position: absolute
  z-index: $z-flyout

#sheets
  bottom: 0
  left: 0
  padding: 2em
  position: fixed
  max-width: 75vw
  z-index: $z-sheets

  .sheet
    animation-duration: 0.5s
    animation-name: up-motion
    animation-timing-function: $ease-extreme-out
    animation-iteration-count: 1
    float: left
    margin: 1em
    width: 42rem

#tooltip
  background: #fff
  border-top: 1px solid $color-accent
  box-shadow: 0 0.3em 0.3em rgba(0, 0, 0, 0.07)
  display: none
  font-size: 1.2em
  margin: 0.6em 0
  padding: 0.3em 0.5em 0.4em
  pointer-events: none
  position: absolute
  z-index: $z-tooltip
  &.disabled
    border-top-color: #999
    color: #aaa

footer
  display: none // for now


////////////////////////////////////////
// LAYOUT: lesser widths

@media (max-width: 1260px)
  #main
    .sample-code
      float: none

    .sample-result
      padding-top: 3em


@media (max-width: 810px)
  header
    &:before
      box-shadow: 0 0 1.2em rgba(0, 0, 0, 0)
      width: 85rem
    &:after
      display: none
    .header-right
      left: 22rem

    #show-toc
      display: block

  #left
    box-shadow: 0 0 0.6em rgba(0, 0, 0, 0)
    left: 100vw
    transform: translateX(0)
    transition: transform 0.3s ease-in
    z-index: $z-mobile-toc

  #main
    margin-left: 0
    transition: filter 0.1s

  .show-toc
    #show-toc:after
      transform: rotate(-90deg)

    #left
      box-shadow: 0 0 1.4em rgba(0, 0, 0, 0.6)
      transform: translateX(#{-1 * $sidebar-width})
      transition: transform 0.3s $ease-extreme-out
    #main
      filter: blur(0.2em)

@media (max-width: 600px)
  header .header-right
    left: $logo-size
    padding: 6em
    top: 1.5em

    nav
      font-size: 1.5em


////////////////////////////////////////
// LAYOUT: flyouts

.flyout
  .janus-inspect-panel
    min-width: 30em

    &.janus-inspect-varying
      min-width: 40em

  .flyout-close
    @include no-appearance
    position: absolute
    right: 0.6em
    top: 0.6em

    &:before
      @include icon($icon-close)
      font-size: 1.2em

////////////////////////////////////////
// LAYOUT: xray

#xray
  left: 0
  position: absolute
  top: 0
  z-index: $z-xray


////////////////////////////////////////////////////////////////////////////////
// CONTENT

////////////////////////////////////////
// CONTENT: main article

.article
  h1, h2
    color: $color-heading
    font-family: $font-heading
    font-weight: 500
    letter-spacing: -0.02em
    margin-bottom: 0.4em
    padding-top: 0.8em
  h1
    font-size: 3em
  h2
    font-size: 2em

  h1, h2, h3
    a.anchor
      $dist: $header-height + $main-padding
      display: block
      margin-top: -$dist
      padding-top: $dist
      pointer-events: none

    a.self-link
      color: #ccc
      margin-left: 0.8rem
      visibility: hidden

      &:hover
        color: #666

    &:hover a.self-link
      visibility: visible

  p
    font-size: 1.6em
    line-height: 1.3em
    margin-bottom: 1.5em
    max-width: $main-max-width

    &.splash
      color: $color-splash
      font-family: $font-heading
      font-size: 3em
      letter-spacing: -0.02em

      .splash-two
        color: $color-accent2

    + ul
      margin-top: -1em

  > ul, > ol
    $padding-left: 2em
    max-width: calc(#{$main-max-width} - #{$padding-left})
    padding-bottom: 1em
    padding-left: $padding-left

    ul, ol
      padding-left: 1.2em
      padding-top: 0.5em

    > li
      font-size: 1.6em
    li
      padding-bottom: 0.5em

      ul, ol
        li:last-child
          padding-bottom: 0

  > ul, > ul ul, > ol ul
    list-style-type: circle

  > ol, > ol ol, > ul ol
    list-style-type: decimal

  p, > ul, > ol
    a
      border-bottom: 1px dotted $color-accent
      color: $color-accent
      text-decoration: none

      &:hover, &:active, &:focus
        border-bottom-style: solid

      &:visited
        color: $color-accent2

    code
      background-color: #eee
      font-size: 1.2em

  blockquote
    background-color: #f0f0f0
    border-left: 0.6em solid #ddd
    margin-bottom: 2.5em
    max-width: 60rem
    padding: 1.3em
      left: 1.6em

    p, h1
      margin: 0
      padding: 0

    h1
      font-size: 1.8em
      padding-bottom: 0.3em

    p
      font-size: 1.4em
      + p
        padding-top: 0.8em

    code
      background-color: #ddd

    pre
      font-size: 1.6em
      padding: 0.4em 0
      code
        background-color: transparent

  .feature // TODO: move this out.
    svg
      $size: 8em
      float: left
      height: $size
      margin-right: 1.5em
      margin-top: 1em
      width: $size

      path
        fill: #aaa

    p
      margin-bottom: 0.5em

    + p
      margin-top: 2em

    h2 a.self-link
      display: none

////////////////////////////////////////
// CONTENT: API reference

.apiref
  h3
    background-color: #eee
    border-top: 2px solid #bbb
    box-shadow: 0 0.2em 0 #ebebeb inset
    font-family: $font-monospace
    font-size: 2em
    margin: 0 #{-$main-padding}
    padding: 0.8em $main-padding

    &.level-class.type-method
      border-top-color: #92a
    &.level-instance.type-method
      border-top-color: $color-accent

  h4
    background-color: #eee
    border-top: 1px solid #e4e4e4
    font-family: $font-monospace
    font-size: 1.3em
    margin: 0 #{-$main-padding} 1.5em
    padding: 1em $main-padding

    .annotation
      background: $color-accent2
      border-radius: 0.2em
      color: #fff
      font-size: 0.8em
      font-weight: normal
      margin-left: 1em
      padding: 0.3em 0.4em 0.2em

  h3 + h4
    border-top: none
    margin-top: -0.7em
    padding-top: 0

  h4 + h4
    border-top: none
    margin-top: -1.8em

  h3 + p
    padding-top: 1em

  .sample
    background-color: #f4f4f4
    border: none
    margin-top: -0.8em
    padding: 1.4em $main-padding 1em

    .sample-result
      &:before
        display: none

      .eval-success
        font-family: $font-monospace

        > .janus-list > .janus-inspect-entity
          display: block
          &:first-child
            padding-top: 0.3em
          &:last-child
            padding-bottom: 0.3em

      .janus-inspect-list.janus-inspect-entity > .entity-content > .list-values > .janus-list > span
        display: block
        padding-left: 1em

        &:first-child:last-child
          display: inline
          padding-left: 0

      .janus-inspect-entity .entity-content
        margin-left: -0.5em

      .janus-inspect-panel .janus-inspect-entity .entity-content
        margin-left: -0.2em

    .sample-error
      margin-bottom: -1em
      padding-top: 1em


////////////////////////////////////////////////////////////////////////////////
// COMPONENTS

.sample
  $border-color: #e4e4e4

  background-color: #f0f0f0
  border-bottom: 1px solid $border-color
  border-top: 1px solid $border-color
  box-shadow: 0 0 0 0 transparentize($color-error, 0.92) // for the transition
  margin: 0.5em #{-$main-padding} 2em
  overflow: hidden
  padding: 2em $main-padding
  transition: 0.2s border-color, 0.2s box-shadow

  .sample-code
    float: left
    min-width: 65%

    .CodeMirror
      background: transparent
      font-family: $font-monospace
      font-size: 1.2em
      height: auto

      .CodeMirror-scroll
        height: auto

    .code-static
      padding: 0.4em

      code
        font-family: $font-monospace
        font-size: 1.2em

  .sample-result
    font-size: 1.2em
    overflow: hidden

    &:before
      content: 'Result'
      display: block
      font-family: $font-heading
      font-size: 1.5em

    .eval-success > .janus-list
      > *
        border-bottom: 1px dotted #999
        padding: 1em 0
        &:last-child
          border-bottom: none
      > .janus-list > span // TODO: maybe hack?
        display: block

    .janus-inspect-panel.janus-inspect-varying
      font-size: 0.8333em

      .title .className
        display: none

    .exception
      padding: 0
      .exception-expando
        bottom: 0
        right: 0

    h1
      font-size: 1.8em

  .sample-toolbar
    clear: left
    display: none
    float: left
    padding: 0.6em

    button
      @include no-appearance
      color: #666
      margin-right: 1.2em
      transition: color 0.3s
      &:hover
        color: $color-accent
        transition: none
      &:before
        font-size: 1.4em
      &.disabled
        color: #d4d4d4
        &:hover
          color: #d4d4d4

    .sample-revert:before
      @include icon($icon-revert)
    .sample-transfer:before
      @include icon($icon-console-add)

  &.activated .sample-toolbar
    animation-duration: 1s
    animation-name: expand-margin
    animation-timing-function: $ease-extreme-out
    animation-iteration-count: 1
    display: block

  &.noexec .sample-result,
  &.noexec.activated .sample-toolbar,
  &.custom-view.error .sample-result
    display: none

  .sample-error
    clear: both
    max-height: 0
    margin: 0 -4em -2em
    overflow: hidden
    padding-top: 2em
    transition: 0.6s max-height

    .exception
      background-color: $border-color
      color: #fff
      padding: 1.2em 4em 1em
      transition: 0.2s background-color

      .exception-expando
        display: none

  &.error
    border-color: $color-error
    box-shadow: 0 0 0 4px transparentize($color-error, 0.92)

    .sample-result:before
      content: 'Last Successful Result'

    .sample-error
      max-height: 9em
      .exception
        background-color: $color-error

.CodeMirror.cm-s-default
  .CodeMirror-activeline-background
    background: #f7f7f7
  .cm-def
    color: #007ec7
  .cm-keyword
    color: #037d7d
  .CodeMirror-nonmatchingbracket
    background: #ecc
    color: inherit
  .cm-property
    color: #666
  .cm-string, .cm-string-2
    color: #0c820a
  .cm-trailingspace
    background: #e3e3e3
  .cm-variable
    color: #7c00bb

  &.CodeMirror-focused
    .CodeMirror-matchingbracket
      background: #d7d7d7
      color: inherit

.exception
  animation-duration: 1s
  animation-timing-function: $ease-extreme-out
  animation-iteration-count: 1
  background-color: $color-error
  color: #fff
  padding: 1em
  position: relative

  .exception-message
    font-family: $font-monospace
    font-size: 1.2em

  .exception-stack
    .stack-line ~ .stack-line
      display: none

    a
      color: #fff
      cursor: text
      text-decoration: none
      &.navigable
        cursor: pointer
        text-decoration: underline

  .exception-expando
    bottom: 1em
    position: absolute
    right: 1em

    button
      @include no-appearance
      padding: 0.2em

      &:before
        $size: 7px
        @include reify
        border-right: 2px solid #fff
        border-bottom: 2px solid #fff
        cursor: pointer
        height: $size
        transform: rotate(45deg)
        transition: 1s transform $ease-extreme-out
        width: $size

      &.checked:before
        transform: rotate(-135deg)

  &.exception-name-SyntaxError
    .exception-stack, .exception-expando
      display: none

  &.has-expanded 
    animation-name: contract-margin

  &.expanded
    animation-name: expand-margin

    .exception-stack .stack-line ~ .stack-line
      display: block

.stack-line
  .stack-line-context.no-context
    opacity: 0.3

.view
  .view-error.has-error
    background-color: $color-error
    color: #fff
    margin-top: 1em
    padding: 1em
      top: 0.9em

    &:before
      content: 'Runtime Error'
      font-weight: bold

    .exception-message
      padding: 0.1em 0 0.5em


////////////////////////////////////////
// COMPONENTS: repl

$repl-chrome-padding: 1em
$repl-chrome-width: 2.4em
$repl-chrome-outer-width: (2 * $repl-chrome-padding) + $repl-chrome-width
$repl-chrome-color-fg: #666
$repl-chrome-color-bg: #d4d4d4
$pin-color-bg: #ddd
$pin-chrome-padding: 0.4em
$pin-chrome-width: 1.6em
$pin-chrome-outer-width: (2 * $pin-chrome-padding) + $pin-chrome-width

.repl

  .repl-chrome
    background: $repl-chrome-color-bg
    bottom: 0
    left: 0
    padding: $repl-chrome-padding
    position: absolute
    top: 0
    width: $repl-chrome-width

    button
      @include no-appearance
      color: $repl-chrome-color-fg
      margin-bottom: 1em
      padding: 0.1em
      &:before
        @include icon
        font-size: 2em

      &.repl-close:before
        content: $icon-close-circle
      &.repl-xray:before
        content: $icon-target
    .repl-autopanel button
      &:before
        content: $icon-window
      &.checked
        color: $color-accent2

    h2
      color: $repl-chrome-color-fg
      cursor: default
      font-family: $font-monospace
      margin-bottom: 4em
      margin-left: 1.45em
      text-align: center
      text-transform: lowercase
      transform: rotate(90deg)
      transform-origin: left top
      white-space: nowrap

    .repl-toolbar
      padding-top: 2em

  .repl-main
    @include custom-scrollbar(#777, #ccc)
    bottom: 0
    cursor: text
    left: $repl-chrome-outer-width
    overflow-x: auto
    overflow-y: auto
    position: absolute
    right: 0
    top: 0

    .janus-inspect-panel
      cursor: auto

  .statement
    border-bottom: 1px dotted #ddd
    &:last-child
      border-bottom: none

    counter-increment: line-number
    &:first-child
      counter-reset: line-number
    .statement-placeholder:after
      content: counter(line-number)

    .statement-result .janus-inspect-pin
      display: none

  &.autopaneled .statement-panel
    display: none

  .repl-pins
    @include fill
    background-color: $pin-color-bg
    border-left: 1px solid #c4c4c4
    display: none
    left: auto

    .repl-chrome
      border-right: 1px dotted #e6e6e6

      button:before
        content: $icon-close

    .repl-pins-list
      margin-left: $repl-chrome-outer-width
      max-height: 100%
      overflow-y: auto

      .pin
        border-top: 1px dotted #c4c4c4
        &:first-child
          border-top: none

    .janus-inspect-panel .panel-title .janus-inspect-pin
      display: none

  &.has-pins
    $pins-width: 45em

    .repl-main
      right: $pins-width

    .repl-pins
      box-shadow: #{$repl-chrome-outer-width + $pin-chrome-outer-width} 0 0 $repl-chrome-color-bg inset
      display: block
      width: $pins-width

.statement
  $placeholder-color: #888
  min-height: 4.2em
  padding: 0.8em 1.3em
    left: 0.8rem + $repl-left-gutter
  position: relative

  .CodeMirror
    background: transparent
    font-family: $font-monospace
    font-size: 1.2em
    height: auto

    .CodeMirror-scroll
      height: auto

  $left-gutter-zone: calc(#{$repl-left-gutter} - 2.5em)
  .statement-placeholder
    // TODO: sort of a mess but i just want this to work.
    color: $placeholder-color
    font-family: $font-monospace
    font-size: 1.1em
    left: 0
    padding: 0.5em 0
    pointer-events: none
    position: absolute
    text-align: right
    width: $left-gutter-zone
    &:after
      padding-left: 0.3em

  .statement-name
    font-family: $font-monospace
    font-size: 1.4em
    left: 0
    padding-top: 0.15em
    position: absolute
    width: $repl-left-gutter

    input
      @include no-appearance
      color: $color-text
      font-family: $font-monospace
      margin-right: 0.4em
      text-align: right
      width: calc(100% - 2.5em)

    &:after
      color: $placeholder-color
      content: '>'

  .statement-toolbox
    left: 0
    position: absolute
    text-align: right
    top: 3.5em
    width: $left-gutter-zone

    button
      @include no-appearance
      margin-left: 0.5em
      opacity: 0
      transition: 0.4s opacity
      &:before
        @include icon($icon-window)
      &.checked
        color: $color-accent2
        opacity: 1

    .statement-pin:before
      content: $icon-pin
    .statement-panel button:before
      content: $icon-window

  &:hover .statement-toolbox button
    opacity: 1
    transition-duration: 0

  &.named
    .statement-placeholder
      display: none
    .statement-name:after
      color: $color-text
      content: '='

  .statement-result
    position: relative

    .janus-literal
      font-size: 1.2rem

    .entity-title, .entity-content:before, .entity-content:after
      font-family: $font-monospace
      font-size: 1.2rem

    .entity-content .janus-literal,
    > .eval-success > .janus-list > .janus-literal
      font-family: $font-monospace

    .janus-inspect-panel
      clear: left

  &.has-result .statement-result
    padding-top: 0.6em

.pin
  overflow: hidden
  position: relative

  .pin-chrome
    @include fill
    padding: 1em $pin-chrome-padding
    right: auto
    width: $pin-chrome-width

    button
      @include no-appearance
      &:before
        @include icon
        color: $repl-chrome-color-fg
        font-size: 1.6em

    .pin-remove:before
      content: $icon-close-small

    .pin-expand button
      &:before
        content: $icon-chevron-right
      &.checked:before
        content: $icon-chevron-down

  .pin-contents
    animation-duration: 1s
    animation-name: contract-margin
    animation-iteration-count: 1
    animation-timing-function: $ease-extreme-out
    margin-left: $pin-chrome-outer-width
    max-height: 3.6em
    padding: 1em

  &.expanded .pin-contents
    animation-name: expand-margin
    max-height: none

  &:after
    @include reify
    @include fill
    background: rgba(0, 0, 0, 0.1)
    height: 0.2em
    top: auto
  &.expanded:after
    display: none

  .statement
    padding: 0
    .statement-placeholder, .statement-name, .statement-toolbox
      display: none

.valuator
  box-shadow: 12em 0 #eee inset

  .valuator-xray
    @include no-appearance
    color: #fff
    position: absolute
    right: 2.5em
    top: 0.75em
    &:before
      @include icon($icon-target)
      font-size: 1.1em

  .valuator-statements
    max-height: 80vh
    overflow-y: auto

  .statement-placeholder, .statement-pin
    display: none

  .valuator-line
    border-bottom: 1px dotted #ddd
    position: relative

    .valuator-statement
      margin-right: 2em

    .code-editor
      min-height: 2.5em // TODO: not sure why this is necessary.

    &:last-child
      border-bottom: none

  .valuator-accept
    @include no-appearance
    @include fill
    background: #3dafaf
    border-left: 1px dotted #ddd
    left: auto
    width: 2em

    &.disabled
      background: transparent

    &:before
      @include icon($icon-chevron-right)
      bottom: 0.3em
      color: #fff
      font-size: 1.5em
      left: 0.2em
      position: absolute
    &.disabled:before
      color: #ccc

    &:hover
      background: $color-accent2
    &.disabled:hover
      background: transparent

.xray
  pointer-events: none

  .xray-chrome
    @include fill(4px)
    border: 4px solid $color-xray
    box-shadow: 0 0 0 1em transparentize($color-xray, 0.2)
    position: fixed

    label
      background: $color-xray
      color: #fff
      font-size: 2em
      left: 0
      padding: 0.4em 1em
      position: absolute
      top: 0

  .xray-stack
    bottom: 5px
    left: 8px
    position: fixed
    z-index: $z-xray-stack

@mixin xray-box($color, $width: 2px)
  box-shadow: 0 0 0 $width $color inset

.xray-entry .xray-entity
  background-color: #444
  color: #fff
  font-family: $font-monospace
  padding: 0.3em 0.5em
  white-space: nowrap

.xray-entry.delta0 .xray-entity
  .select-view &.xray-view,
  .select-subject &.xray-subject
    background-color: $color-xray-selected

.xray-stack .xray-entry 
  min-height: 1.7em
  white-space: nowrap

  .xray-entity
    max-width: 30vw
    text-overflow: ellipsis

    .model-pairs
      color: #ccc

  .xray-hint
    background: rgba(0, 0, 0, 0.7)
    color: #fff
    display: none
    font-family: $font-monospace
    margin-left: 0.8em
    padding: 0.2em

    .key
      background-color: #ccc
      color: #444
      padding: 0 0.2em

  .xray-view
    background: #666
  .xray-subject
    background: #888

  &.delta1 .hint-prev
    display: inline
  &.delta-1 .hint-next
    display: inline

  &.delta0
    .hint-sel
      display: inline
      background: $color-accent2
    .xray-view, .xray-subject
      background: #444

.xray-box
  background: rgba(187, 187, 187, 0.1)
  @include xray-box(transparentize(#555, 0.4), 1px)
  position: absolute

  .xray-entities
    display: none
    left: 0
    position: absolute
    position: -webkit-sticky
    position: sticky
    top: 100%

  &.tall .xray-entities
    left: 2px
    top: 0

  .xray-entity
    clear: left
    float: left

  &.delta0
    background: transparentize($color-xray-selected, 0.3)
    @include xray-box($color-xray-selected)
    z-index: $z-xray-selected

    .xray-entities
      display: block

    + .xray-entry
      @include xray-box(#444)
      z-index: $z-xray-next
      .xray-entities
        display: block
        opacity: 0.2
      .xray-view
        background-color: #222

  .xray-entity .xray-subject
    top: calc(100% + 1.7em)

.xray.flash
  .xray-box.delta0
    animation-duration: 4s
    animation-name: flash-fade
    animation-iteration-count: 1
    background: transparentize(red, 0.3)
    @include xray-box(red)

////////////////////////////////////////
// COMPONENTS: misc

.flyout
  box-shadow: $subtle-shadow

// we end up redoing the panel styles a little here, but we don't want to actually
// inherit all of panel's particular quirks so we sort of have to.
.sheet
  background-color: #f7f7f7
  box-shadow: $subtle-shadow
  position: relative

  .sheet-header
    background-color: $color-accent
    color: #fff
    font-size: 1.3em
    font-weight: bold
    padding: 0.5em

    .sheet-close
      @include no-appearance
      color: #fff
      position: absolute
      right: 0.8em
      top: 0.8em

      &:before
        @include icon($icon-close)


////////////////////////////////////////
// COMPONENTS: inspect

.janus-inspect-entity
  .entity-title
    cursor: default

  &.highlight
    > .entity-title, > .entity-content:before, > .entity-content:after
      color: red

  &.no-panel.highlight:hover
    > .entity-title, > .entity-content:before, > .entity-content:after
      color: inherit

.janus-inspect-panel
  background-color: #fff
  border-radius: 0.2em
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  position: relative

  &.highlight
    box-shadow: 0 0 0 2px red
    &:hover
      box-shadow: none

  .flyout &.highlight
    box-shadow: none

  .panel-title
    background-color: $color-accent
    border-radius: 0.2em 0.2em 0 0
    color: #fff
    cursor: default
    font-size: 1.3em
    font-weight: bold
    padding: 0.5em
      bottom: 0.57em // TODO: oh it hurts

    .janus-inspect-pin
      @include no-appearance
      display: block
      right: 0.6em
      position: absolute
      top: 0.85em
      z-index: 1

      &:before
        @include icon($icon-pin)
        color: #fff
        font-size: 1.2em

  .panel-derivation
    background: #0a8b8b
    border-top: 1px dotted #fff
    color: #fff
    cursor: default
    font-size: 1.1rem
    padding: 0.3em 0.6em

    .janus-inspect-entity
      .entity-title
        font-size: 1.1rem
      .model-pairs
        color: #ccc

  .panel-content
    padding: 1em

  .panel-sidebar
    $sidebar-width: 14em
    @include fill
    left: auto
    width: $sidebar-width

    .panel-sidebar-title
      background-color: $color-accent2
      border-top-right-radius: 0.2em
      color: #fff
      font-size: 1.1em
      font-weight: bold
      padding: 0.8em

    .panel-sidebar-content
      @include fill
      background-color: #eee
      overflow-x: hidden
      overflow-y: auto
      top: 3em

    ~ .panel-content
      margin-right: $sidebar-width

.data-pair
  font-size: 1.2rem
  padding-bottom: 0.15em
  .pair-key
    color: $color-accent2
  &.bound .pair-delimeter
    position: relative
    top: 0.15em
    &:before
      @include icon($icon-bound)
    display: inline-block
    overflow: hidden
    white-space: nowrap
    width: 1em
  .pair-function
    background: #f4f4f4
    border-bottom: 1px dotted #ccc
    margin: 0 0.5em
    padding: 0 0.3em
    &:before
      content: 'λ'
      font-size: 1.2em
    &:after
      @include icon($icon-arrow-right)
  .pair-value
    line-height: 1.4em
  .pair-attribute
    color: #666
    padding-left: 1em
    .janus-inspect-entity .entity-content
      display: none
  .pair-clear
    @include no-appearance
    cursor: default
    opacity: 0
    transition: 0.4s opacity
    &:before
      @include icon($icon-delete)
      color: #aaa
    &:hover:before
      color: $color-error
  &.primitive .janus-literal
    cursor: text
  &:hover .pair-clear
    opacity: 1
    transition-duration: 0

.janus-inspect-attribute.janus-inspect-panel
  dl
    font-size: 1.2rem
    overflow: hidden
  dt
    clear: left
    display: inline
    float: left
    font-weight: bold
    text-transform: lowercase
    &:after
      content: ':'
      font-weight: normal
      padding: 0 0.3em
  dd
    display: inline
    float: left

  .attribute-pairs
    border-top: 1px dotted #ccc
    display: none
    margin: 1em -1em 0
    padding: 1em
      bottom: 0
    &.has-pairs
      display: block

  .attribute-enum
    display: none
    padding-top: 1em
  &.type-EnumAttribute .attribute-enum
    display: block

.janus-inspect-varying.janus-inspect-panel
  $highlight-color: #fadd00 // TODO: copied from janus-inspect

  .varying-bar
    border-bottom: 1px dotted #ccc
    margin: 0 -1em
    overflow: hidden
    padding: 0.2em 0.7em

    label
      font-weight: bold
      line-height: 2.2em
      padding-right: 1em

    label, li
      float: left

  .varying-observation-bar
    margin-top: -1em
    max-height: 10em
    overflow-x: hidden
    overflow-y: auto

    .janus-list
      display: inline

    .janus-inspect-entity
      line-height: 2.2em

      .janus-literal, .entity-title, .entity-content:before, .entity-content, .entity-content:after
        font-size: 1.1rem

      &:after
        content: ','
      &:last-child:after
        content: none

    .varying-inert
      color: #777

  .varying-reaction-bar
    margin-bottom: 0.5em

    .reaction, .varying-reactions-none
      line-height: 2.2em

    .reaction.checked .rxn-value
      background-color: $highlight-color

  .varying-snapshot
    background-color: $highlight-color
    color: $color-text
    margin: -0.5em -1em 0.5em
    padding: 0.5em 0.7em
    position: relative

    .varying-snapshot-close
      @include no-appearance
      position: absolute
      right: 0.5em
      top: 0.5em
      &:before
        @include icon($icon-close)

    .snapshot-initiation
      border-top: 1px dotted rgba(0, 0, 0, 0.2)
      margin-top: 0.3em
      padding-top: 0.3em

      .janus-inspect-function
        .entity-title, .entity-content
          font-size: 1rem

  .panel-content > .varying-tree
    padding-top: 0.4em
    > .varying-tree > .main .node .varying-node.highlight
      border-color: #08a4ec // TODO: copied from janus-inspect

  .varying-tree .main .node .varying-node.highlight
    border-color: red

.reaction
  &:before
    @include icon($icon-arrow-right)
    font-size: 8px
    padding: 0 0.6em

  &.highlight
    .rxn-value
      box-shadow: 0 0 0 2px red
    &:hover .rxn-value
      box-shadow: none

.varying-delta
  // TODO: something needs to happen here
  //text-overflow: ellipsis
  //white-space: nowrap

  .separator:before
    @include icon($icon-arrow-right)
    font-size: 0.8rem

.janus-inspect-function
  &.janus-inspect-entity > .entity-content
    // TODO: will probably cause sizing problems with nested entities later.
    font-size: 1.2rem

  &.janus-inspect-panel
    .function-args
      padding-bottom: 0.6em

      &.inline .janus-inspect-applicant
        &:after
          content: ', '
        &:last-child:after
          content: none

      .janus-inspect-applicant
        font-size: 1.2rem

        .applicant-name
          color: $color-accent2

    .function-body
      $padding-h: 0.8em
      background-color: #f4f4f4
      display: block
      font-family: $font-monospace
      font-size: 1rem
      max-height: 30em
      min-width: calc(100% - #{$padding-h * 2})
      overflow-x: auto
      overflow-y: auto
      padding: 0.6em $padding-h

.janus-inspect-list.janus-inspect-panel
  .data-pair
    padding-bottom: 0.2em

    hr
      border: none
        top: 1px dotted #999
      left: 0
      margin-top: -0.1em
      position: absolute
      right: 3em

  .list-insert
    @include no-appearance
    color: #666
    &:before
      @include icon($icon-add)
    &:hover, &.valuating
      color: $color-accent2

    &.list-insert-last
      margin-top: 0.5em

  .pair-key
    color: #bbb
    font-size: 1rem
    font-weight: normal
    line-height: 1.6em
    vertical-align: bottom
  .pair-delimeter
    display: none

  .list-list
    cursor: default

    .data-pair
      &:nth-child(10n+1)
        .pair-key
          color: #666

      &:hover
        .list-insert, + .data-pair .list-insert
          opacity: 1
          transition-duration: 0

    .list-insert
      margin-top: -0.6rem
      opacity: 0
      position: absolute
      right: 1em
      transition: 0.4s opacity
      &:hover, &.valuating
        opacity: 1
        + hr
          display: block

  .list-more
    margin: 0.3em 0 0.8em

  .list-last-item
    cursor: default

  .list-inspect-plain
    border-bottom: 1px dotted #777
    text-align: right

.list-mapped .data-pair
  .pair-value
    font-size: 1.2rem

.list-filtered
  .list-list
    counter-reset: filter-index -1
    .filter-pass
      counter-increment: filter-index

  .data-pair
    .filter-intermediate
      font-size: 1.1rem

    &.filter-pass .filter-child-index
      color: $color-success
      &:before
        @include icon($icon-arrow-right)
        padding-right: 0.3em
      &:after
        content: counter(filter-index)
        font-size: 1.2rem

.janus-inspect-list
  .list-more
    @include no-appearance
    border-bottom: 1px dotted #777
    display: none
    &.has-more
      display: inline

  .array-update
    @include no-appearance
    margin-left: 0.3em
    &:before
      @include icon($icon-load)

  &.janus-inspect-panel .array-update
    color: #fff
    font-size: 1.2em
    margin-left: 0.4em
    position: absolute

.janus-inspect-domview.janus-inspect-panel
  .domview-flash
    @include no-appearance
    color: #fff
    font-size: 1.2em
    margin-left: 0.4em
    position: absolute
    &:before
      @include icon($icon-eye)

  .domview-mutations .mutation
    padding-bottom: 0.8em
    &:last-child
      padding-bottom: 0

  .mutation-selector
    color: $color-accent2
    font-family: $font-monospace
    font-size: 1.2rem
    &.repeated
      display: none

  .mutation-type
    font-size: 1.2rem
    padding-left: 0.5em
  .mutation-operation
    font-weight: bold
  .mutation-param.has-param
    &:before
      content: '('
      font-weight: bold
    &:after
      content: ')'
      font-weight: bold

  .mutation-binding
    font-size: 1.1rem

  .domview-display
    position: relative

    .domview-display-label
      border-top: 1px dotted #ccc
      font-weight: bold
      left: -1em
      padding: 0.5em 1em
      position: absolute
      right: -1em
      top: 1em

    > :first-child
      padding-top: 3.5em

.janus-inspect-entity.janus-inspect-date
  .entity-content
    color: #999
    font-family: $font-monospace
    font-size: 1.1rem
  .date-date, .date-time
    color: $color-text


////////////////////////////////////////
// COMPONENT: thinker

$thinker-offset: 4em
$thinker-angle: 0.436rad
$thinker-size: 7em
$thinker-effect-height: 60em
#thinker
  background: radial-gradient(#ddd, #d4d4d4)
  bottom: $thinker-offset
  clip-path: circle()
  height: $thinker-size
  opacity: 0
  pointer-events: none
  position: fixed
  right: $thinker-offset
  transition: 0.5s opacity
  width: $thinker-size

  &.thinking
    opacity: 0.85
    transition-delay: 0.3s // wait a moment before showing

    div:before, div:after
      animation-name: thinker

.thinker-1, .thinker-2, .thinker-3, .thinker-4
  height: 100%
  overflow: hidden
  position: absolute

  &:before, &:after
    animation-iteration-count: infinite
    animation-timing-function: linear
    content: ''
    display: block
    height: $thinker-effect-height
    position: absolute
    width: 100%

  $transparent: transparentize($color-bg, 1)
  &:before
    animation-duration: 2s
    background: linear-gradient($transparent, $color-bg, $transparent)

  &:after
    animation-duration: 0.8s
    background: linear-gradient($transparent, transparentize($color-bg, 0.6), $transparent)

.thinker-1, .thinker-2
  top: $thinker-size * -0.12
  width: $thinker-size * 0.1265

.thinker-1
  left: $thinker-size * 0.228
  transform: rotate($thinker-angle)
  &:after
    animation-delay: 0.25s;

.thinker-2
  right: $thinker-size * 0.24
  transform: rotate(-1 * $thinker-angle)
  &:before
    animation-delay: 0.1s;
  &:after
    animation-delay: 0.3s;

.thinker-3, .thinker-4
  top: $thinker-size * 0.07
  width: $thinker-size * 0.088

.thinker-3
  left: $thinker-size * 0.317
  transform: rotate(-1 * $thinker-angle)
  &:before
    animation-delay: 0.2s;
  &:after
    animation-delay: 0.2s;

.thinker-4
  right: $thinker-size * 0.33
  transform: rotate($thinker-angle)
  &:before
    animation-delay: 0.4s;


////////////////////////////////////////////////////////////////////////////////
// KEYFRAMES
// this is at the bottom because the vim sass highlighting freaks out about it.

@keyframes contract-margin
  from
    margin-bottom: 12px
  to
    margin-bottom: 0

@keyframes expand-margin
  from
    margin-bottom: -12px
  to
    margin-bottom: 0

@keyframes thinker
  from
    top: -1 * $thinker-effect-height - $thinker-size
  to
    top: $thinker-size

@keyframes left-motion
  from
    transform: translateX(60px)
  to
    transform: translateX(0)

@keyframes right-motion
  from
    transform: translateX(-60px)
  to
    transform: translateX(0)

@keyframes up-motion
  from
    transform: translateY(12px)
  to
    transform: translateY(0)

@keyframes flash-fade
  0%
    opacity: 1
  90%
    opacity: 1
  100%
    opacity: 0

