
////////////////////////////////////////////////////////////////////////////////
// K

$color-accent: #0b9a9a
$color-accent2: #057d7d
$color-background: #f7f7f7
$color-header-background-left: $color-accent
$color-header-background-right: $color-accent2
$color-sidebar-background: #33333b
$color-sidebar-background-active: #44444b
$color-splash: #085b5b
$color-heading: #000
$color-error: #c44

$header-height: 12em
$header-overdraw: 20em
$sidebar-padding: 2.5rem
$sidebar-width: 28em
$main-padding: 4em
$main-max-width: 65rem

$font-title: 'malaga-narrow', "Helvetica Neue", Helvetica, Arial, sans-serif
$font-heading: malaga, "Helvetica Neue", Helvetica, Arial, sans-serif
$font-body: ratio, "Helvetica Neue", Helvetica, Arial, sans-serif
$font-monospace: consolas, monaco, monospace

$z-header-base: 100
$z-header: 101

$ease-extreme-out: cubic-bezier(.05, .9, 0, 1)


////////////////////////////////////////////////////////////////////////////////
// UTIL

@mixin fill($buffer: 0)
  bottom: 0
  left: 0
  position: absolute
  right: 0
  top: 0

@mixin reify
  content: ''
  display: block


////////////////////////////////////////////////////////////////////////////////
// RESET

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
  background: transparent
  border: 0
  margin: 0
  outline: 0
  padding: 0
  vertical-align: baseline

html
  color: #333
  font-family: "ratio"
  font-size: 62.5%

body
  background-color: $color-sidebar-background

ul, ol
  list-style-type: none


////////////////////////////////////////////////////////////////////////////////
// GLOBAL

.hide
  display: none !important


////////////////////////////////////////////////////////////////////////////////
// LAYOUT

header
  color: #fff
  left: 0
  position: fixed
  top: 0
  right: 0
  z-index: $z-header-base

  &:before, &:after
    @include reify
    position: absolute
    transform: skewY(-3deg)

  &:before
    background: $color-header-background-left
    box-shadow: 0 0 1.2em rgba(0, 0, 0, 0.8)
    left: 0
    height: $header-height + $header-overdraw + 2em
    top: -2em - $header-overdraw
    width: $sidebar-width
    z-index: $z-header

  &:after
    background: $color-header-background-right
    height: $header-height + $header-overdraw
    left: $sidebar-width
    right: 0
    top: -$header-overdraw
    transform-origin: left center

  .header-left
    padding: 3em
    position: absolute
    z-index: $z-header

  .header-right
    left: $sidebar-width
    padding: $main-padding
    position: absolute
    z-index: $z-header

  #logo
    border: 3px solid rgba(255, 255, 255, 0.1)
    border-radius: 9999px
    float: left
    height: 7.2em
    margin-right: 1.5em
    width: 7.2em

    svg path
      fill: #fff

  h1
    float: left
    font-family: $font-title
    font-size: 4em
    font-weight: 400
    line-height: 1em

  a
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2)
    color: #fff
    text-decoration: none
    transition: 0.1s border-color

    &:hover
      border-bottom-color: #fff

  nav
    font-family: $font-title
    font-size: 2em

    a
      margin-right: 1em
      text-transform: lowercase

#left
  @include fill
  background: $color-sidebar-background
  box-shadow: 0 -0.6em 0.6em rgba(0, 0, 0, 0.45)
  padding-top: $header-height + 4em
  position: fixed
  right: auto
  width: $sidebar-width

  .toc-entry
    $vpadding: 0.8rem
    $indent: 1.5rem

    &.active
      a, a:hover
        background: $color-accent

    a
      border-bottom: 1px solid #2d2d31
      color: #fff
      display: block
      font-family: $font-title
      font-size: 2.2rem
      padding: $vpadding $sidebar-padding
      text-decoration: none
      transition: 0.2s background

      &:hover
        background: $color-sidebar-background-active
        transition: none

    ul
      padding-bottom: 1.5rem

    .toc-entry
      a
        background: #2d2d31
        border-bottom-color: $color-sidebar-background
        font-family: $font-body
        font-size: 1.5rem
        padding: $vpadding 1rem
          left: $sidebar-padding + $indent

        // TODO: these layered overrides are incredibly irritating.
        &:hover
          background: $color-sidebar-background-active

      &.active
        a, a:hover
          background: $color-accent

      .toc-entry a
        padding-left: $sidebar-padding + ($indent * 2)

#main
  background: $color-background
  margin-left: $sidebar-width
  min-height: calc(100vh - #{2 * $main-padding + $header-height})
  padding: $main-padding
    top: $header-height + $main-padding

footer
  display: none // for now


////////////////////////////////////////////////////////////////////////////////
// CONTENT

.article
  h2
    color: $color-heading
    font-family: $font-heading
    font-size: 2em
    margin-bottom: 0.4em
    padding-top: 0.8em

  p
    font-size: 1.6em
    margin-bottom: 1.5em
    max-width: $main-max-width

    &.splash
      color: $color-splash
      font-family: $font-heading
      font-size: 3em
      letter-spacing: -0.02em

      .splash-two
        color: $color-accent2

    code
      background-color: #eee

  > ul, > ul ul
    $padding-left: 2em
    list-style-type: circle
    max-width: calc(#{$main-max-width} - #{$padding-left})
    padding-left: $padding-left

    li
      font-size: 1.6em
      padding-bottom: 0.5em

  p, > ul
    a
      border-bottom: 1px dotted $color-accent
      color: $color-accent
      text-decoration: none

      &:hover, &:active, &:focus
        border-bottom-style: solid

      &:visited
        color: $color-accent2

////////////////////////////////////////////////////////////////////////////////
// COMPONENTS

.sample
  $border-color: #e4e4e4

  background-color: #f0f0f0
  border-bottom: 1px solid $border-color
  border-top: 1px solid $border-color
  box-shadow: 0 0 0 0 transparentize($color-error, 0.92) // for the transition
  margin: 0.5em #{-$main-padding} 2em
  overflow: hidden
  padding: 2em $main-padding
  transition: 0.2s border-color, 0.2s box-shadow

  .sample-code
    float: left
    min-width: 65%

    .CodeMirror
      background: transparent
      font-family: $font-monospace
      font-size: 1.2em
      height: auto

      .CodeMirror-scroll
        height: auto

    .code-static
      padding: 0.4em

      code
        font-family: $font-monospace
        font-size: 1.2em

  .sample-result
    font-size: 1.2em
    overflow: hidden

    &:before
      content: 'Result'
      display: block
      font-family: $font-heading
      font-size: 1.5em

    .eval-success > .janus-list > li
      border-bottom: 1px solid #999
      padding: 1em 0
      &:last-child
        border-bottom: none

    .exception
      position: relative

      .exception-expando
        bottom: 0
        position: absolute
        right: 0

  .sample-error
    clear: both
    max-height: 0
    margin: 0 -4em -2em
    overflow: hidden
    padding-top: 2em
    transition: 0.6s max-height

    .exception
      background-color: $border-color
      color: #fff
      padding: 1.2em 4em 1em
      transition: 0.2s background-color

      .exception-expando
        display: none

  &.error
    border-color: $color-error
    box-shadow: 0 0 0 4px transparentize($color-error, 0.92)

    .sample-result:before
      content: 'Last Successful Result'

    .sample-error
      max-height: 9em

      .exception
        background-color: $color-error

.CodeMirror.cm-s-default
  .CodeMirror-activeline-background
    background: #f7f7f7
  .cm-def
    color: #007ec7
  .cm-keyword
    color: #037d7d
  .CodeMirror-matchingbracket
    background: #d7d7d7
    color: inherit
  .CodeMirror-nonmatchingbracket
    background: #ecc
    color: inherit
  .cm-property
    color: #666
  .cm-string, .cm-string-2
    color: #0c820a
  .cm-trailingspace
    background: #e3e3e3
  .cm-variable
    color: #7c00bb

.exception
  animation-duration: 1s
  animation-timing-function: $ease-extreme-out
  animation-iteration-count: 1

  .exception-message
    font-family: $font-monospace
    font-size: 1.2em

  .exception-stack
    li ~ li
      display: none

    a
      color: #fff


  .exception-expando button
    background: none
    border: none
    outline: none
    padding: 0.2em

    &:before
      $size: 7px
      @include reify
      border-right: 2px solid #fff
      border-bottom: 2px solid #fff
      cursor: pointer
      height: $size
      transform: rotate(45deg)
      transition: 1s transform $ease-extreme-out
      width: $size

    &.checked:before
      transform: rotate(-135deg)

  &.exception-name-SyntaxError
    .exception-stack, .exception-expando
      display: none

  &.has-expanded 
    animation-name: contract-margin

  &.expanded
    animation-name: expand-margin

    .exception-stack li ~ li
      display: block

.view
  .view-error.has-error
    background-color: $color-error
    color: #fff
    margin-top: 1em
    padding: 1em
      top: 0.9em

    &:before
      content: 'Runtime Error'
      font-weight: bold

    .exception-message
      padding: 0.1em 0 0.5em


////////////////////////////////////////////////////////////////////////////////
// KEYFRAMES
// this is at the bottom because the vim sass highlighting freaks out about it.

@keyframes contract-margin
  from
    margin-bottom: 12px
  to
    margin-bottom: 0

@keyframes expand-margin
  from
    margin-bottom: -12px
  to
    margin-bottom: 0


////////////////////////////////////////////////////////////////////////////////
// IMPORTS

@import '../node_modules/codemirror/lib/codemirror'

